<!DOCTYPE html>
<html lang="rs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>AllStar</title>

		<!-- Bootstrap -->
		<link href="/style.css?<%= new Date().getTime();%>" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="https://allstar.rs/favicon.png">
        <link rel="apple-touch-icon" href="https://allstar.rs/favicon.png">
        <meta property="og:title" content="All Star Pikado" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://pikado.allstar.rs" />
        <meta property="og:image" content="https://allstar.rs/images/ogImage.png" />
        <meta property="og:description" content="064/336-3-738" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body style="min-height:100vh;" class="poruci">
		<div style="width:75px;margin:0 auto;padding-top:10px;">
			<img src="https://solver-rs.ams3.digitaloceanspaces.com/allstar/images/allstar.png">
		</div>
		<div class="title">Poruka primljena! Konobar upravo završava svoju akrobatsku tačku i dolazi!</div>
		<%if(stoInfo.Items){%>
			<script>
				function brojSaRazmacima(x) {
				  if(!x){
				    return 0
				  }
				    numberAsString = x.toString().replace(/,/g, " ")
				    var parts = numberAsString.split(".");
				    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
				    if(parts.length==1){
				        parts[1] = "00";
				    }else{
				        if(parts[1].length==1){
				            parts[1]=parts[1]+"0";
				        }else if(parts[1].length>2){
				          if(Number(parts[1][2])>5){
				            var lastDigit = Number(parts[1][1])+1;
				          }else{
				            var lastDigit = Number(parts[1][1])
				          }
				          if(lastDigit==10){
				            parts[1] = eval(Number(parts[1][0])+1).toString() + "0";
				          }else{
				            parts[1] = eval(Number(parts[1][0])).toString() + lastDigit;
				          }
				            parts[1]=parts[1][0].toString() + lastDigit;
				            //parts[1]=parts[1][0].toString() + parts[1][1].toString();
				        }
				    }
				    return parts.join(",");
				}
				var stoInfo = <%-JSON.stringify(stoInfo)%>;
				var poruceno = stoInfo.Items;
				poruceno = Object.values(
				  poruceno.reduce((acc, item) => {
				    acc[item.Code] ??= { ...item };
				    acc[item.Code].Quantity += item.Quantity;
				    return acc;
				  }, {})
				);
				console.log(poruceno)
				console.log(stoInfo)
				
			</script>
			<div class="title">
				<div class="bold">Sto:</div><div class="normal"><%=brojStola%></div>
			</div>
			<div class="title" style="padding-top:10px">
				<div class="bold">Pub crew:</div><div class="normal" id="konobar"></div>
			</div>
			<script>
				document.getElementById("konobar").textContent = stoInfo.UserFullName;
			</script>
			<div class="racun">
				<div class="ukupno">Ukupno: </div><div class="ukupanIznos" id="iznos"></div>
			</div>
			<div class="stavke" id="stavke"></div>
			<script>
				var ukupanIznos = 0;
				for(var i=0;i<poruceno.length;i++){
					var stavka = poruceno[i]
					var ukupnaCena = stavka.TotalPrice*stavka.Quantity
					ukupanIznos+=ukupnaCena;
					var row = document.createElement("DIV");
					row.setAttribute("class","row");
						var naziv = document.createElement("DIV");
						naziv.setAttribute("class","naziv");
						naziv.textContent = stavka.Name;
						row.appendChild(naziv);

						var kolicina = document.createElement("DIV");
						kolicina.setAttribute("class","kolicina");
						var komadi = stavka.Quantity==1 ? " komad" : " komada";
						kolicina.textContent = stavka.Quantity + komadi;
						row.appendChild(kolicina);

						var cena = document.createElement("DIV");
						cena.setAttribute("class","cena");
						cena.textContent = ukupnaCena + " kinti";
						row.appendChild(cena);
						
					document.getElementById("stavke").appendChild(row)
				}
				document.getElementById("iznos").textContent = brojSaRazmacima(ukupanIznos) +" kinti";
			</script>
		<%}else{%>
			<div class="title">
				<div class="bold">Sto:</div><div class="normal"><%=brojStola%></div>
			</div>
			<div id="welcome"><div class="title">DOBRODOŠLI!</div></div>
		<%}%>
	</body>
	<script> history.replaceState(null, '', '/')</script>
</html>