<!DOCTYPE html>
<html lang="rs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>AllStar</title>

		<!-- Bootstrap -->
		<link href="/style.css?<%= new Date().getTime();%>" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="https://allstar.rs/favicon.png">
        <link rel="apple-touch-icon" href="https://allstar.rs/favicon.png">
        <meta property="og:title" content="All Star Pikado" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://pikado.allstar.rs" />
        <meta property="og:image" content="https://allstar.rs/images/ogImage.png" />
        <meta property="og:description" content="064/336-3-738" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body style="min-height:100vh;">
		<div style="width:150px;margin:0 auto;padding-top:30px;">
			<img src="https://solver-rs.ams3.digitaloceanspaces.com/allstar/images/allstar.png">
		</div>
		<div class="title">Sto: <%=brojStola%></div>
		<div class="pozoviButton" onclick="document.getElementById('form').submit()">KONOBAR!!!!!</div>
		<form method="POST" action="/poruci" id="form" style="display:none">
			<input type="text" name="sto" value="<%-brojStola%>">
		</form>
		
	</body>
</html>