@font-face {
  font-family: delicate;
  src: url(/fonts/delicate.woff);
}

@font-face {
  font-family: highvoltage;
  src: url(/fonts/highvoltage.woff);
}

html{
  box-sizing: border-box;
  scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    font-family:'highvoltage';
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-family:'highvoltage';
    color: rgb(255,255,255);
    font-size: 22px;
    font-weight:500;
    overflow-x:hidden;
    position:relative;
    background-color: rgb(22,96,40);
    background-image: url(https://allstar.rs/images/greenPaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent;
    text-decoration: none;
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
h1{
    margin:.67em 0;
    font-size:2em
}
mark{
    color:#000;
    background:#ff0
}
small{
    font-size:80%
}
sub,sup{
    position:relative;
    font-size:75%;
    line-height:0;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0;
    max-width: 100%;
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    height:0;
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    margin:0;
    font:inherit;
    color:inherit
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    padding:0;
    border:0
}
input{
    line-height:normal;
}
input[type=checkbox],input[type=radio]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
input[type=search]{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-appearance:textfield
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    padding:.35em .625em .75em;
    margin:0 2px;
    border:1px solid silver
}
legend{
    padding:0;
    border:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:700
}
table{
    border-spacing:0;
    border-collapse:collapse
}
td,th{
    padding:0
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.title{
  text-align:center;
  padding-top:20px;
  margin-bottom:20px;
  font-size:36px;
}

.poruci .title .normal{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 200;
    text-align: left;
    display:inline-block;
    vertical-align: middle;
    font-size: 28px;
    width:calc(100% - 118px);
    line-height: 40px;
}

.mainInlines{
    font-size:0;
    margin-top:40px;
}

.mainInlines .timer{
    display:inline-block;
    vertical-align: middle;
    width:calc(100% - 400px);
    font-size:18px;
    text-align:center;
    padding:15px;
    padding-top:0px;
}


.mainInlines .logo{
    display:inline-block;
    vertical-align: top;
    width:200px;
    padding:0px 15px;
}

.mainInlines .timer .timeWrap{
    font-size:80px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-variant-numeric: tabular-nums;
  
  border:1px solid rgb(255,255,255);
  width:auto;
  display:inline-block;
  border-radius:10px;
  overflow:hidden;
}

.mainInlines .timer .timeWrap #time{
    padding:25px 50px;
}

.mainInlines .scores{
    font-size:0px;
    margin-top:40px;
}

.mainInlines .scores .score{
    display:inline-block;
    vertical-align: top;
    width:40%;
    margin:5%;
    font-size:90px;
}

#score1{
    color:cyan;
}

#score2{
    color:red;
}

.scoreBars{
    font-size:0;
    text-align: center;
}

.scoreBars .row .bar{
    display:inline-block;
    vertical-align: top;
    height:80px;
    width:40px;
}

.scoreBars .row .bar .fill{
    width:100%;
    height:100%;
    border:1px solid rgb(255,255,255);
    border-radius:3px;
}

.scoreBars #bars1 .fillActive{
    background-color: cyan;
}


.scoreBars #bars2 .fillActive{
    background-color: red;
}

@keyframes blinkRed {
  0%   { background-color: #b00000; }
  50%  { background-color: #ff0000; }
  100% { background-color: #b00000; }
}

#time.glowing {
  color: white;
  animation: blinkRed 0.8s infinite;
}
#time.ended {
  background-color: #ff0000;
  color: white;
  animation: none; /* stop blinking */
}
















